<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dirtybits.spotted">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PersonActivity" />
        <activity android:name=".MainActivityWithoutDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.WantedPersons"
            android:label="Wanted persons"
            android:parentActivityName=".MainActivityWithoutDrawer" />
        <activity android:name=".Activities.MissingPersons"
            android:label="Missing persons"
            android:parentActivityName=".MainActivityWithoutDrawer" />

        <activity android:name=".Activities.MissingPlates"
            android:label="Missing plates"
            android:parentActivityName=".MainActivityWithoutDrawer" />
        <activity android:name=".Activities.MissingCars"
            android:label="Missing cars"
            android:parentActivityName=".MainActivityWithoutDrawer" />
    </application>

</manifest>