@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet"href="~/css/observer.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/observer.js"></script>
    <script type="text/javascript" src="~/js/map.js"></script>
    <!--<link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>-->
</head>
<body>
    <div id="CategoryPanel" class="panel">
        <div class="panel-header">

        </div>
        <div class="panel-content">
            <button id="ButtonWantedPersons" title="Wanted Persons"></button>
            <button id="ButtonMissingPersons" title="Missing Persons"></button>
            <button id="ButtonStolenVehicles" title="Stolen Vehicles"></button>
            <button id="ButtonStolenPlates" title="Stolen Plates"></button>
        </div>
    </div>
    <div id="DataPanel" class="panel">
        <div class="panel-header">
            <input id="TextBoxSearch" type="text" placeholder="Search..." />
        </div>
        <div class="panel-content">

        </div>
    </div>
    <div id="MapPanel" class="panel">
        <div class="panel-header">

        </div>
        <div class="panel-content map">

        </div>
    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiIA3oTJkk4GmB26i2obfxEMP7KDPOnUA&callback=initializeMaps"></script>
</body>
</html>