body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.panel {
    position: absolute;
}

#CategoryPanel
{
    background: #ddeefb;
}

#DataPanel {
    background: #f9f9f9;
    border-left: 1px solid #bad0df;
}

#CategoryPanel .panel-header, #DataPanel .panel-header, #MapPanel .panel-header {
    border-bottom: 1px solid #90bcde;
}

#MapPanel {
    border-left: 1px solid #d9d9d9;
}

#MapPanel .panel-header {
    background: #fafafa;
}