body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.panel {
    position: absolute;
}

#CategoryPanel
{
    background: #ddeefb;
}

#CategoryPanel button { border: none; background: center center transparent no-repeat; width:72px; height:72px; margin:4px; }
#CategoryPanel button.active { background-color:#cae8fb; border: 1px solid #b1dbf9; }
#CategoryPanel #ButtonWantedPersons { background-image: url(../images/command-buttons/WantedPersons.png); }
#CategoryPanel #ButtonWantedPersons.active { background-image: url(../images/command-buttons/WantedPersonsH.png); }
#CategoryPanel #ButtonMissingPersons { background-image: url(../images/command-buttons/MissingPersons.png); }
#CategoryPanel #ButtonMissingPersons.active { background-image: url(../images/command-buttons/MissingPersonsH.png); }
#CategoryPanel #ButtonStolenVehicles { background-image: url(../images/command-buttons/StolenVehicles.png); }
#CategoryPanel #ButtonStolenVehicles.active { background-image: url(../images/command-buttons/StolenVehiclesH.png); }
#CategoryPanel #ButtonStolenPlates { background-image: url(../images/command-buttons/StolenPlates.png); }
#CategoryPanel #ButtonStolenPlates.active { background-image: url(../images/command-buttons/StolenPlatesH.png); }

#DataPanel {
    background: #f9f9f9;
    border-left: 1px solid #bad0df;
}

.panel-header #TextBoxSearch {
    border: none;
    height: 58px;
    width: 100%;
    background: #fafafa;
    margin: 4px;
    font-size: 22px;
}

#CategoryPanel .panel-header, #DataPanel .panel-header, #MapPanel .panel-header {
    border-bottom: 1px solid #90bcde;
}

#MapPanel {
    border-left: 1px solid #d9d9d9;
}

#MapPanel .panel-header {
    background: #fafafa;
}

.panel-content {
    overflow-x: hidden;
    overflow-y:auto;
}

.data-listing {
    border-bottom: 1px solid #e5e5e5;
    padding: 4px;
    cursor: default;
    min-height: 64px;
}

.data-listing.active {
    background: #2b91e3;
    border-bottom: 1px solid #2b91e3;
    color: #ffffff;

}

.data-listing img {
    border-radius: 32px;
    height: 64px;
    width: 64px;
    float:left;
}

.data-listing .title {
    font-weight:bold;
}

.data-listing .description {
    font-size:12px;
}

.data-listing[data-custom-type=WantedPerson] .content, .data-listing[data-custom-type=MissingPerson] .content {
    margin: 0 0 0 68px;
    padding: 4px;
    height:64px;
    display:table-cell;
    vertical-align:middle;
}

.data-listing[data-custom-type=WantedPerson] .title, .data-listing[data-custom-type=MissingPerson] .title {
    text-overflow: ellipsis;
}

.data-listing[data-custom-type=StolenVehicle] .content, .data-listing[data-custom-type=StolenPlate] .content {
    padding: 4px;
    height:64px;
    display:table-cell;
    vertical-align:middle;
}




